<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wywhdgg.dzb.dao.ConfProjectDao">
	
	<resultMap id="confProject" type="com.wywhdgg.dzb.entity.ConfProject" >
		<result column="appname" property="appname" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		t.`appname`,
		t.`title`
	</sql>

	<select id="findAll" parameterType="java.util.Map" resultMap="confProject">
		SELECT <include refid="Base_Column_List" />
		FROM conf_project AS t
		ORDER BY t.appname
	</select>

	<insert id="save" parameterType="com.wywhdgg.dzb.entity.ConfProject" >
		INSERT INTO conf_project(appname, title)
		VALUES(#{appname}, #{title})
	</insert>

	<update id="update" parameterType="com.wywhdgg.dzb.entity.ConfProject" >
		UPDATE conf_project
		SET title = #{title}
		WHERE appname = #{appname}
	</update>

	<delete id="delete" parameterType="java.lang.String" >
		DELETE FROM conf_project
		WHERE appname = #{appname}
	</delete>

	<select id="load" parameterType="java.lang.String" resultMap="confProject">
		SELECT <include refid="Base_Column_List" />
		FROM conf_project AS t
		WHERE appname = #{appname}
	</select>

</mapper>